<!DOCTYPE html>
<html lang="en">
<html>
  <head>
	<title>S3 Upload and Search</title>
	<meta charset="utf-8"/>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="script.js"></script>
  </head>
  <body>
	<div id="app">
	  <h1>Welcome to our S3 query and upload tool!</h1>
	  <div v-if="!image">
		<h2>Upload an Image</h2>
		<input type="file" @change="onFileChange">
	  </div>
   
	  <div v-else>
		<img :src="image" />
		<button v-if="!uploadURL" @click="removeImage">Remove image</button>
		<button v-if="!uploadURL" @click="uploadImage">Upload image</button>
	  </div>
	  <h2 v-if="uploadURL">Success! Image uploaded to bucket.</h2>
	  <br/>
	  <div>
		<h2>Search for an Image</h2>
		<form action="javascript:void(0);">
		  <input id="input" name="input" type="text" placeholder="Type/record a query"/>
		  <button id="record">Record</button>
		  <button id="record" @click="getImages">Submit Query</button>
		  </form>
		  <br/>
		  <section v-if="picToDisplay" data-ng-controller="myCtrl">
			<div v-for="el in pics">
				<img v-bind:src="`${el}`">
			</div>						
		 </section>
	  </div>	  
	</div>

	<script>
	  const MAX_IMAGE_SIZE = 10000000

	  const API_ENDPOINT = 'https://4w884yo9lc.execute-api.us-east-1.amazonaws.com/default/upload-photos-2'

	  new Vue({
		el: "#app",
		data: {
		  image: '',
		  uploadURL: '',
		  picToDisplay: false,
		  picURL: '',
		  pics:[]
		},
		methods: {
		  onFileChange (e) {
			let files = e.target.files || e.dataTransfer.files
			if (!files.length) return
			this.createImage(files[0])
		  },
		  createImage (file) {
			// var image = new Image()
			let reader = new FileReader()
			reader.onload = (e) => {
			  console.log('length: ', e.target.result.includes('data:image/jpeg'))
			  if (!e.target.result.includes('data:image/jpeg')) {
				return alert('Wrong file type - JPG only.')
			  }
			  if (e.target.result.length > MAX_IMAGE_SIZE) {
				return alert('Image is loo large.')
			  }
			  this.image = e.target.result
			}
			reader.readAsDataURL(file)
		  },
		  removeImage: function (e) {
			console.log('Remove clicked')
			this.image = ''
		  },
		  uploadImage: async function (e) {
			console.log('Upload clicked')
			// Get the presigned URL
			const response = await axios({
			  method: 'GET',
			  url: API_ENDPOINT
			})
			console.log('Response: ', response)
			console.log('Uploading: ', this.image)
			let binary = atob(this.image.split(',')[1])
			let array = []
			for (var i = 0; i < binary.length; i++) {
			  array.push(binary.charCodeAt(i))
			}
			let blobData = new Blob([new Uint8Array(array)], {type: 'image/jpeg'})
			console.log('Uploading to: ', response.uploadURL)
			const result = await fetch(response.uploadURL, {
			  method: 'PUT',
			  body: blobData
			})
			console.log('Result: ', result)
			this.uploadURL = response.uploadURL.split('?')[0]
		  },
		  getImages:  async function () {
			const queryStr = document.getElementById('input').value
			const response = await axios({
			  method: 'GET',
			  url: "https://4w884yo9lc.execute-api.us-east-1.amazonaws.com/default/get-photo-request-2?query_string=" + queryStr
			})
			if (response['message']['pics'].length > 0) {
				this.picToDisplay=true
				this.pics=response['message']['pics']

			} else {
				this.picToDisplay=false
			}
			
		  }
		}
	  })
	</script>
	<style type="text/css">
	  body {
		background: #20262E;
		padding: 20px;
		font-family: sans-serif;
	  }
	  #app {
		background: #fff;
		border-radius: 4px;
		padding: 20px;
		transition: all 0.2s;
		text-align: center;
	  }
	  #logo {
		width: 100px;
	  }
	  h2 {
		font-weight: bold;
		margin-bottom: 15px;
	  }
	  h1, h2 {
		font-weight: normal;
		margin-bottom: 15px;
	  }
	  a {
		color: #42b983;
	  }
	  img {
		width: 30%;
		margin: auto;
		display: block;
		margin-bottom: 10px;
	  }
	</style>
  </body>
</html>